MongolzRest/.idea/
MongolzRest/out/
MongolzRest/MongolzRest.iml
MongolzRest/target/
MongolzMVC/.idea/
MongolzMVC/out/
MongolzMVC/MongolzMVC.iml
MongolzMVC/target/
MongolzEmail/.idea/
MongolzEmail/out/
MongolzEmail/MongolzEmail.iml
MongolzEmail/target/